#knotx-debug-template {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #eee;
  border-top: 1px dotted black;
  height: 25%;
  padding: 20px;
  overflow: auto;
}

#knotx-debug-template h1 {
  text-align: center;
}

#knotx-debug-template #knotx-fragment-body, #knotx-debug-template #knotx-fragment-payload {
  width: 50%;
  float: left;
}